$formular: 'Formular', sans-serif;
$ceraPro: 'CeraPro', sans-serif;
$textColor: #1d233f;
$green: #18b472;
$lightGreen: #3CCF91;
$gray: #F1F1F4;
$transparentGray: rgba(255, 255, 255, 0.5);
$border-radius: 4px;

$laptopL: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 375px;

$bigLineH: 172%;
$mediumLineH: 160%;
$smallLineH: 150%;
$extraSmallLineH: 140%;


$extraLargeH1: 128px;
$largeH1: 104px;
$h1: 80px;
$h2: 48px;
$smallFz: 16px;
$mediumFz: 20px;
$mediumPlusFz: 22px;